@import "tailwindcss";


@tailwind utilities;

/* Paleta de colores personalizada */
@theme{
  --color-cielo-oscuro: #16697a;
  --color-cielo: #489fb5;
  --color-cielo-claro: #82c0cc;
  --color-fondo-hueso: #ede7e3;
  --color-amarillo-concreto: #ffa62b;
  --color-verde-suave: #6faf7c;
  --color-verde-suave-oscuro: #5a9a65;
}

@keyframes fade-in-out {
  0%,100% { opacity: 0; transform: translateY(-10px); }
  10%,90% { opacity: 1; transform: translateY(0); }
}

.modal-chart {
  width: 100%;
  height: 300px;
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease forwards;
}

/* Clases de utilidad para usar en Tailwind */
.bg-color-cielo-oscuro {
  background-color: var(--color-cielo-oscuro);
}

.bg-color-cielo {
  background-color: var(--color-cielo);
}

.bg-color-cielo-claro {
  background-color: var(--color-cielo-claro);
}

.bg-color-fondo-hueso {
  background-color: var(--color-fondo-hueso);
}

.bg-color-amarillo-concreto {
  background-color: var(--color-amarillo-concreto);
}

.text-color-cielo-oscuro {
  color: var(--color-cielo-oscuro);
}

.text-color-cielo {
  color: var(--color-cielo);
}

.text-color-cielo-claro {
  color: var(--color-cielo-claro);
}

.text-color-fondo-hueso {
  color: var(--color-fondo-hueso);
}

.text-color-amarillo-concreto {
  color: var(--color-amarillo-concreto);
}

.border-color-cielo-oscuro {
  border-color: var(--color-cielo-oscuro);
}

.border-color-cielo {
  border-color: var(--color-cielo);
}

.border-color-cielo-claro {
  border-color: var(--color-cielo-claro);
}

.border-color-fondo-hueso {
  border-color: var(--color-fondo-hueso);
}

.border-color-amarillo-concreto {
  border-color: var(--color-amarillo-concreto);
}

.focus\:border-color-cielo:focus {
  border-color: var(--color-cielo);
}

.focus\:ring-color-cielo-claro:focus {
  --tw-ring-color: var(--color-cielo-claro);
}

.from-color-cielo-oscuro {
  --tw-gradient-from: var(--color-cielo-oscuro);
  --tw-gradient-to: rgba(22, 105, 122, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-color-cielo {
  --tw-gradient-to: var(--color-cielo);
}

/* Animaciones */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}