@import "tailwindcss";

@tailwind utilities;

/*Paleta de colores personalizada*/
@theme{
  --color-cielo-oscuro: #16697a;
  --color-cielo: #489fb5;
  --color-cielo-claro: #82c0cc;
  --color-fondo-hueso: #ede7e3;
  --color-amarillo-concreto: #ffa62b;
}